@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
body {
    background-color: #060001;
    color: #FFFFFF;
}
#headerContainer {
    background: transparent;
    color: white;
    border-bottom: 1px solid #1f1f1f;
    padding: 14px 0;
}

#mainNav {
    background: transparent;
    color: white !important;
}

#mainNav li a {
    color: white !important;
    font-size: 16px;
    font-weight: 400;
}

#logo, #logo a {
    color: #F9D665;
}

.wrap {
    margin-top: 0;
    background: #060001 !important;
}

.large-search#search {
    background: url("https://s3.eu-north-1.amazonaws.com/ticketshelper.com/broadway/assets/img/process-creating-stand-up-comedy+(1)%402x.png") no-repeat center;
    padding: 20px;
    padding-bottom: 45px !important;
    background-size: cover;
    /* padding-top: 160px; */
    background-size: cover;
}

#largeSearch input {
    background: #ffffff;
    border: 1px solid #f9d665;
    border-radius: 30px;
}

form#searchForm button {
    border-radius: 30px;
}

form#searchForm {
    /* padding: 10px; */
    position: relative;
    z-index: 1;
}

#largeSearch button {
    top: 7px;
    right: 7px;
    bottom: 7px;
    background: #222020;
    color: #ffffff;
    /* font-weight: 500; */
    /* font-size: 16px; */
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 30px;
}

#largeSearch i {
    color: black;
    FONT-SIZE: 20PX;
    TOP: 17PX;
    left: 20px;
    z-index: 2;
}

#largeSearchContainer h2 {
    font-size: 55px;
    margin-bottom: 70px !important;
    font-weight: 800;
    position: relative;
    /* background: red; */
    padding: 21px;
    border-radius: 20px;
    text-shadow: none;
    width: 46%;
    margin: 0 auto;
    margin-top: 228px;
    color: #f9d665;
}

#largeSearchContainer #disclaimer, #fullSearchContainer #disclaimer {
    font-size: 14px;
    font-weight: 400 !important;
    margin-top: 15px;
    position: relative;
    z-index: 1;
    color: #937631;
    text-align: center;
    margin-left: -2px;
    display: none;
}

form#searchForm::after {
    content: '';
    position: absolute;
    top: -28px;
    left: -5%;
    height: 115px;
    width: 110%;
    background: #f9d665;
    z-index: -4;
    border-radius: 20px;
}

.dropdown-container {
    background: #262626;
    margin-top: 29px;
}


#mainNav .dropdown-container .nav-button {
    background: #f9d665;
    border-radius: 30px;
    width: fit-content;
    padding: 0 30px;
    margin: 0 auto;
    /* display: block; */
    color: black !important;
}

#mainNav .dropdown-container .nav-button a {
    color: black !important;
    font-size: 16px;
    font-weight: 600;
}

#largeSearchContainer h2::after {
    position: absolute;
    /* content: ''; */
    bottom: 0;
    /* right: 40%; */
    background: red;
    height: 20px;
    width: 300px;
    transform: translate(0,-50%);
}

.event-list {
    background: transparent;
    border-radius: 18px;
    border: 0;
    color: white;
}

.event-list-top {
    border-bottom: 1px solid #3c3737;
    background: transparent !important;
}

a#locationLink {
    color: grey;
}

.events-box {
    background: #060001;
    border: 0;
    border-radius: 20px;
    color: white;
}

.white-box li a {
    color: white;
    font-size: 16px;
}

.white-box li a:hover {
    background: #555050;
}

.tile-image {border-radius: 20px;}

.tile-inner {
    border-radius: 20px;
}

.white-box {
    border-radius: 20px;
    background: #302e2e;
    color: white;
    display: none;
}

.white-box h3 {
    color: white;
}

.guarantee-color {
    color: white;
}

div#footer {
    background: #060001;
    color: white;
}

.footer-contents a {
    color: white;
    /* padding: 15px 20px; */
    font-size: 16px;
    margin-right: 15px;
}

.footer-contents {
    padding: 20px;
}

#footerTop {
    background: #2e2e2e;
    border-bottom: 1px solid #d6d6d6;
}

#footerTop .footer-contents .footer-centered {
    width: 50%;
    text-align: end;
}

.footer-left {
    color: #9b9b9b;
    font-size: 16px;
    line-height: 22px;
}

.footer-centered img {margin: 0px 5px;}

#footerBottom .footer-right {
    color: #9b9b9b;
    font-size: 16px;
}

#searchResults {
    z-index: 9999999;
    position: absolute;
    background: #222020;
    padding-top: 23px;
}

#searchResults::after {
    /* content: ''; */
    position: absolute;
    height: 20px;
    width: 100%;
    background: #000000;
    left: 0;
    top: 0;
    z-index: 23;
}

.search-result-item {
    padding: 8px 20px;
    font-size: 16px;
    color: white;
}

.search-result-item {background: #222020;}

.search-result-title {
    color: white;
    font-size: 15px;
    background: #313130;
}

#searchResults:before {
    border-bottom-color: #222020;
}
#mainNav li{
        height: 65px !important;
}
#logo img {
    margin-top: 8px;
}
#mainNav .sub-nav li {
    height: 22% !important;
    /* background: red; */
}
.event-list {
    margin-bottom: 13px;
}

.event-date-time {
    /* background: red; */
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-top: 21px; */
    /* height: 90px; */
    /* margin-right: 20px !important; */
}

.event-date {
    background: #5D5D5D;
    height: 86px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 27px;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.event-time {
    background: #989898;
    color: #000000;
    padding: 8px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.event-date-time {
    width: 125px;
    margin-right: 10px !important;
}

.event-name-venue {
    margin-left: 0px !important;
    /* width: 100%; */
    /* background: green; */
    padding: 7px 20px;
    position: relative;
    margin: auto;
}

.event-name {
    /* margin-top: -10px !important; */
}

.event-name a {
    display: block;
    /* background: red; */
    /* margin-top: -20px !important; */
}

.event-date-time-venue {
    display: flex;
    justify-content: space-between;
}

.event {
    background: linear-gradient(45deg, #211A05, #230C35, #300C28);
    margin: 10px 0;
    border-radius: 14px;
}

.event-list-items {
    background: transparent;
}

.event-list-contents {
    background: #ff000000 !important;
}

div#allEventsList {
    background: #ff000000;
}

.event-list-top {
    border-bottom: 0;
    /* font-size: 28px !important; */
    padding-left: 10px;
}

 .event-list-top h2 {
    font-size: 29px;
    padding-left: 0;
}

span.event-name-text {
    color: white;
    font-size: 20px;
    width: 400px;
    display: inline-block;
    line-height: 27px;
}

 .event-venue {
    font-size: 14px;
    font-weight: 200;
    color: #f9d665;
    margin-top: 5px;
    width: 400px;
}

.event-ticket-count {
    font-size: 15px;
    font-weight: 300;
}

.event-buy button, .load-more-button {
    background: transparent;
    border: 2px solid white;
    border-radius: 37px;
    padding: 10px 24px;
    height: 100%;
    width: 100%;
    font-weight: 600;
}

.tickets-button i.fa.fa-angle-double-right {
    color: #f9d665;
    font-size: 22px;
    margin-left: 9px;
}

.event-buy {
    width: 200px;
}

.event-wrapper:hover {
    background: transparent;
}

.event-buy button:hover, .load-more-button:hover {
    background: #f9d665;
    color: black;
    border-color: #f9d665;
}

.event-buy button:hover i, .load-more-button:hover i {
    color: black !important;
}

.event-wrapper:hover .event-wrapper button {
    background: red !important;
}

button:hover, .event:hover .event-buy button, .nav-button:hover {
    background: #f9d665 !important;
    border-color: #f9d665;
    color: black !important;
}

button:hover button i, .event:hover .event-buy button i, .nav-button:hover .nav-button i {
    color: black !important;
}
@media (max-width:600px){
    #headerContainer {
    background: #151515 !important;
}

.wrap {
    padding-top: 78px;
    background: #030303 !important;
}

#largeSearchContainer h2 {
    font-size: 30px;
    display: block;
    margin: 0;
    width: 100%;
    margin-bottom: 40px !important;
}

.large-search#search {
    background: linear-gradient(45deg, #211A05, #230C35, #300C28);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#searchResults {
    width: 100%;
}

form#searchForm button {
    display: block;
    padding: 0 10px;
}

#largeSearch input {
    font-size: 15px;
    padding-left: 10px;
}

#largeSearch i {
    display: none;
}

#footerTop .footer-contents .footer-centered {
    width: 100%;
    text-align: center;
}

.footer-contents ul, .footer-left, .footer-centered, .footer-right {
    width: 100%;
    display: block;
    font-size: 13px;
}

.footer-contents ul li {
    margin-left: 6px;
    font-size: 20px;
}
}
@media (min-width:601px) and (max-width:1364px){
    #largeSearchContainer h2 {
    margin: 0 auto;
    width: 100%;
    padding-top: 335px;
}
    form#searchForm button {
    display: block;
}
}
@media (max-width:1364px){
  
    .event-buy button, .load-more-button {
    /* display: none; */
}

span.event-name-text {
    font-size: 21px;
}

.event-buy {
    display: none;
}

.mobile-event-ticket-count {
    font-size: 10px;
    width: 100%;
}

span.venue-name {
    font-size: 14px;
}

.event-date {
    padding: 18px;
}


    .event-buy button, .load-more-button {
    /* display: none; */
}

span.event-name-text {
    font-size: 15px;
}

.event-buy {
    display: none;
}

.mobile-event-ticket-count {
    font-size: 10px;
    width: 100%;
}

span.venue-name {
    font-size: 14px;
}

.event-date {
    padding: 18px;
}

div#content {
    padding: 5px;
}

.event {
    padding: 10px;
}
}
@media (max-width:961px){
      ul#mainNav {
    background: #060001;
    margin-top: 24px;
    border: 0;
}
    .event-date{
          height: 63px;
        font-size: 13px;
        padding: 12px;
}
    span.event-name-text{
        width: 100%;
}
 

.event-venue {
    width: 100%;
}
}
#ticketsContainer {
    height: calc(100vh - 79px) !important;
}
#ticketsWrap {
    margin-top: 79px !important;
}
#locationPanel {
    background: #302e2e;
    border: 0;
    color: white;
}

#currentLocation a {
    color: white;
}

#locationInput {
    background: #625e5e;
    border: 0;
    color: white;
}

.autocomplete-suggestion {
    background: #070102;
    border: 0;
}

.autocomplete-suggestion:hover {
    background: #302e2e;
}

.event-list h2 {
    font-size: 29px;
}

.left-sidebar {
   display: none;
}

.right-content {
    width: 100%;
}
   .search-result-item:hover {
    background: #64645e;
    color: white;
}
 .event-ticket-count {
  
    position: absolute;
    right: -70px;
    top: 21px;
    font-size: 22px;
    font-weight: 700;
}
.search-result-item:hover {
    background: #64645e;
    color: white;
}
